@import '../../assets/scss/index.scss';

.home {
   &__title {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
         font-size: 22px;
         margin-bottom: 0;
         font-weight: bold;
      }

      input {
         width: 50%;
         border-radius: 50px;
         border: 0;
         background-color: $background-dark-light;
         padding: 5px 20px;
         color: $font-light;

         &:focus {
            outline: none;
         }
      }
   }

   .load-more.btn.btn-primary {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: transparent;
      border: 0;

      &:hover,
      &:focus {
         background-color: transparent !important;
         color: $primary;
      }
   }
}