@import '../../../assets/scss/index.scss';

.list-events {
   background-color: $primary-dark;
   a {
      font-size: 20px;
      color: $font-light;
      font-weight: normal;
      margin-bottom: 30px;
      text-decoration: none;
      

      &:hover {
         text-decoration: none;
         color: $font-light;
      }

      .event {
         display: flex;
         padding: 10px 20px;
         border-bottom: 1px solid $border-grey;
   
         .photo {
            width: 50px;
            height: 50px;
            margin-right: 20px;
         }
   
         .avatar {
            width: 25px;
            height: 25px;
            margin-right: 10px;
         }
         >div{
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;/*si no se declara añade los ... pero muestra todo el texto*/
            .name {
               font-weight: bold;
               display: flex;
               justify-content: space-between;
      
               span {
                  margin-left: 10px;
                  font-size: 12px;
                  font-weight: normal;
               }
            }
         }
      }
   }

}