@import '../../assets/scss/index.scss';

.left-menu {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   min-height: 100vh;
   border-right: 1px solid $border-grey;
   background-color: white;

   .logo {
      width: 50px;
      padding: 20px 0 30px 0;
   }

   a {
      font-size: 20px;
      color: $primary-dark;
      font-weight: bold;
      margin-bottom: 30px;
      text-decoration: none;

      &:hover {
         text-decoration: none;
         color: $primary-dark;
      }

      svg {
         margin-right: 20px;
         width: 30px !important;
      }
   }

   a.btn {
      width: 80%;
      border-radius: 50px;
      font-size: 18px;
      padding: 10px;
      margin-top: 30px;
      font-weight: bold;
      border-color: $primary-dark;
      color: $primary-dark;

      &:hover {
         color: $font-light;
      }
   }
}